# Ignore PhpStorm IDE files
.idea
.project
.htaccess
e107_config.php
e107_config_*.php
e107_media/*
media/*
e107_system/*
system/*
/.settings
e107_core/override
core/override

# Ignore Vim swap files
*.swp
*.swo
e107InstallLog.log

*Slovak*
*/Slovak/*
 
e107_plugins/forum/forum_test.php
e107_plugins/forum/forum_conf.php
